<h1>Edit</h1>

<%= link_to 'back', profiles_path %>

<%= form_with(model: @profile, local: true) do |form| %>

  <div>
    <%= form.label :avatar%>
    <%= form.text_field :avatar, id: :avatar%>
  </div>

  <div>
    <%= form.label :first_name%>
    <%= form.text_field :first_name, id: :first_name%>
  </div>

  <div>
    <%= form.label :last_name%>
    <%= form.text_field :last_name, id: :last_name%>
  </div>

  <div>
    <%= form.label :country%>
    <%= form.text_field :country, id: :country%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>